spring:
  application:
    name: boardserver

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    jdbc-url: jdbc:mysql://localhost:3306/board
    username: root
    password: mysql

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379
      password:
      repositories:
        enabled: false

expire:
  defaultTime: 600

mybatis:
  mapper-locations: classpath:com.fastcampus.boardserver.mapper/*.xml

logging:
  level:
    root: INFO

sns:
  topic:
    arn: arn:aws:sns:ap-northeast-2:781076985467:testfastcampus.fifo
aws:
  accessKey: 1
  secretKey: 2
  region: ap-northeast-2

could:
  aws:
    region:
      static: ap-northeast-2

    stacks:
      auto: false




